.benefits {
    padding: 60px 0;
}

.benefits-titel {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    margin-top: 30px;
}

.benefits-item_description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


//=====================================================================================
@media screen and (min-width: 480px) {
    .benefits-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
        // margin-bottom: 30px;
    }
}


//=====================================================================================
@media screen and (max-width: 767px) {
    .benefits-titel {
        text-align: center;
    }

    .benefits-item_description {
        margin-bottom: 30px;
    }
}


//=====================================================================================
@media screen and (min-width: 768px) {

    .benefits-list {
        display: flex;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .benefits-item {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
    }

    .benefits-list_item {
        width: 354px;
    }

}

//=====================================================================================
@media screen and (min-width: 1199x) {
    .benefits-list {
        gap: 30px;
    }
}

//=====================================================================================
@media screen and (min-width: 1200px) {
    .benefits {
        padding: 94px 0;
    }

    
}


