:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: rgba(255, 255, 255, 0.6);
    --accent: #2196F3;
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --acent-background-color: #2F303A;
    --white-color: #FFFFFF;
    --secondary-white: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --portfolio: #F5F5F5;
    --border-hero: #ECECEC;
    --card-portfolio: #EEEEEE;
    --clients-card-border: #AFB1B8;
}